@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

body {
    background: rgb(247, 247, 247);
    font-family: Quicksand;
    font-weight: 600;
}

/*NAVBAR*/


.nav-div1 {
    display: flex;
}

.nav-div2 a{
    text-decoration: none;
}

.nav-div2 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-div2 {
    width: 50%;
    margin-left: 150px;
    margin-right: 150px;
}

.home a {
    color: rgb(254, 163, 1);
}

.about a {
   color: rgb(1, 172, 253);
}

.facilities a {
    color: rgb(5, 212, 223);
}

.admission a {
   color: rgb(93, 88, 239);
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav-div3 {
    margin-top: 10px;
}

.nav-div3 button {
    color: white;
    background-color: rgb(254, 163, 1);
    border-radius: 10px;
    width: 110px;
    height: 40px;
    border: none;
}

.img2 {
    width: 50px;
    display: none;
}

.hr {
    display: none;
}

@media only screen and (max-width: 576px) {
    .school {
        display: none;
    }
    .img1 {
        display: flex;
        flex-direction: row;
    } 
    .img2 {
        display: flex;
        flex-direction: row-reverse;
    } 
    .nav {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }
    .nav-div2 {
        display: none;
    }   
    .nav-div3 button {
        display: none;
    }
    .hr {
        display: flex;
        color: rgb(254, 163, 1);
        background-color: rgb(254, 163, 1);
    }
}

.marquee {
    color: red;
    font-family: cursive;
    font-weight: 500;
}

/*BANNER*/

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.ban-head {
    font-size: 30px;
}

.ban-span1 {
    color: rgb(254, 163, 1);
}

.ban-span2 {
    color: rgb(1, 172, 253);
}

.banner-div2 img {
    width: auto;
}

.ban-btn {
    color: white;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    width: 110px;
    height: 40px;
    border: none;
}

@media only screen and (max-width: 576px) {
    .banner {
        display: flex;
        margin: 10px;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .banner-div1 {
        justify-items: center;
    }
    .ban-head, .ban-p{
        justify-content: center;
    }
}

/*CURRICULUM*/

.imm {
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
}

.h1 {
    text-align: center;
    font-size: 30px;
}

.curriculum-div2 {
    display: flex;
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.curriculum-div2 a {
    text-decoration: none;
}
.common {
    border-radius: 10px;
    padding: 50px 10px;
    text-align: center;
    height: auto;
}

.common img {
    justify-content: center;
}

.cur-div11 {
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
 
.aa a{
    color: rgb(100, 200, 255);
}

.cur-div12 {
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.bb a{
    color: rgb(240, 170, 0);
}

.cur-div13 {
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.cc a{
    color: rgb(135, 0, 255);
}

.curriculum-div3 {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    gap: 5px;
}

.curriculum-div3 button {
    background-color:rgb(240, 170, 0);
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    color: white;
}

.cur-btn:hover {
    background-color: white;
    color: rgb(240, 170, 0);
    cursor: pointer;
    font-size: 30px;
    transition: 0.5s;
    border-radius: 20%;
}

@media only screen and (max-width: 576px) {
    .imm {
        height: auto;
    }
    .curriculum-div2 {
        display: flex;
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 10px;
    }
    .curriculum-div2 > div {
        width: 95%;
        margin: 0 auto;
    }
    .curriculum-div3 button {
        display: none;
    }
}

/*STORY*/

.story-setup {
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 1200px;
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    margin: 0 50px;
    padding: 20px 10px;
}

.story-div1 {
    text-align: center;
}

.story-main-div{
    display: flex;
    width: 50%;
    height: 50%;
    padding: 100px;
}

.part2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.pp {
    text-align: left;
    margin-left: 50px;
    margin-right: 10px;
}
.story-btn {
    background: rgb(60, 216, 232);
    color:white;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    margin-top: -350px;
    margin-left: 50px;
}

.story-btn btn2 {
    background: rgb(55, 149, 55);
}

.story-btn btn3 {
    background: rgb(59, 59, 232);
}
.story-main-div img {
    border-radius: 5px;
}

.story-div11 {
    background-color: white;
    border-radius: 5%;
    height: 800px;

}

.story-div12, .story-div13, .story-div14, .story-div15 {
    background-color: white;
    border-radius: 5%;
    margin: 5px;
}
#story-btn {
    color: white;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    width: 110px;
    height: 40px;
    border: none;
    margin-left: 600px;
}


@media only screen and (max-width: 576px) {
    .story-setup {
        height:auto;
    }
    .part1 {
        display: none;
    }
    .part2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }
    .story-main-div {
        display: grid;
        padding: 0;
        margin-right: 20px;
    }
    #story-btn { 
        border: none;
        margin-left: 150px;
    }
    .story-div12, .story-div13, .story-div14, .story-div15 {
        width: 180px;
    }
    .story-main-div img {
        width: 180px;
    }
    .story-btn {
        width: 80px;
    }
}

/*FOOTER*/

.footer {
    background: rgb(1, 172, 253);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 50px;
    padding-left: 100px;
    color: white;
    height: 250px;
}

.footer-div2 {
    margin-left: 50px;
}

.footer-div2 ul {
    list-style: none;
}

.footer-div2 a {
    text-decoration: none;
    color: white;
}

.main-div {
    display: flex;
}

@media only screen and (max-width: 576px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        width: auto;
    }
}

