@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

body {
    background: rgb(247, 247, 247);
    font-family: Quicksand;
    font-weight: 600;
}

/*NAVBAR*/


.nav-div1 {
    display: flex;
}

.nav-div2 a{
    text-decoration: none;
}

.nav-div2 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-div2 {
    width: 50%;
    margin-left: 150px;
    margin-right: 150px;
}

.home a {
    color: rgb(254, 163, 1);
}

.about a {
   color: rgb(1, 172, 253);
}

.facilities a {
    color: rgb(5, 212, 223);
}

.admission a {
   color: rgb(93, 88, 239);
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav-div3 {
    margin-top: 10px;
}

.nav-div3 button {
    color: white;
    background-color: rgb(254, 163, 1);
    border-radius: 10px;
    width: 110px;
    height: 40px;
    border: none;
}

.img2 {
    width: 50px;
    display: none;
}

.hr {
    display: none;
}

@media only screen and (max-width: 576px) {
    .school {
        display: none;
    }
    .img1 {
        display: flex;
        flex-direction: row;
    } 
    .img2 {
        display: flex;
        flex-direction: row-reverse;
    } 
    .nav {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }
    .nav-div2 {
        display: none;
    }   
    .nav-div3 button {
        display: none;
    }
    .hr {
        display: flex;
        color: rgb(254, 163, 1);
        background-color: rgb(254, 163, 1);
    }
}